.HeroContent{
    /* background: white; */
    width: 100vw;
    height: calc(100vh -80px);
    max-height: 100%;
    padding: 0 4%;
    /* padding: 0rem calc((100vw - 1300px) / 2); */
}
.HeroItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    line-height: 1;
    width: 650px;
    /* background: cyan; */
}
@media screen and (max-width: 650px){
    .HeroItems{
        width: 100%;
    }
}
.HeroItems h1{
     font-size: 42px;
     color: #fff;
     margin: 0;
     padding: 0;
     box-shadow: 3px 3px #e9ba23;
     margin-bottom: 8px;
     letter-spacing: 3px;
     /* margin-right: 5px; */
}
.HeroItems p{
    font-size: 30px;
    color: #fff;
     /* padding: 0; */
}
.HeroItems button{
    padding: 4px 12px;
    border-radius: 8px;
    background: #e31837;
    color: #fff;
    font-size: 26px;
    border-style: none;
    margin: 10px 0;
    transition: 0.2s ease-out;
}
.HeroItems button:hover{
    background: #ffc500;
    transition: 0.2s ease-out;
    cursor: pointer;
    color: #000;
}

/* .SidebarContainer{
    height: 100%;
    background: #ffc500;
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    display: grid;
    align-items: center;
} */
.Icon{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    /* display: flex; */
    /* justify-content: flex-end;
    align-items: flex-end;
    padding: 20px; */
}
.CloseIcon{
    font-size: 20px;
}
.SidebarMenu{
    /* background: #fff; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 80px);
    text-align: center;
    font-size: 22px;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 15px 0; */
}
.sideLink{
    /* padding: 20px 0; */
}

.SidebarBtnWrap{
    /* position: absolute; */
   background: red;
    display: flex; 
    justify-content: center;
   /* justify-content: center; */
    /* align-items: center; */
}
.SidebarRoute{
    position: absolute;
    bottom: 20px;
    background: #e31837;
    color: #fff;
    padding: 16px 14px;
    font-size: 26px;
    outline: none;
    border: none;
    border-radius: 4px;
    /* align-items: center; */
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.SidebarRoute:hover{
    transition: 0.2s ease-in-out;
    background: #000;
    color: #fff;
    padding: 16px 14px;
    font-size: 26px;
}